.global-earnings {
  display: flex;
  align-items: center;
  gap: 10px;
  background: hsl(240, 25%, 95%);
  border-radius: 7px;
  height: 52px;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 183px;
    height: 38px;
    color: #5C5D6A;

    &:hover {
      background: #7165E3;
      box-shadow: 0px 10px 20px rgba(97, 105, 255, 0.1), 0px 10px 20px rgba(97, 105, 255, 0.1);
      border-radius: 4px;
      color: #fff;
    }
  }

  @media (max-width: 768px) {
    width: 744px;
  }
}

.link-active {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 183px;
  height: 38px;
  background: #7165E3;
  box-shadow: 0px 10px 20px rgba(97, 105, 255, 0.1), 0px 10px 20px rgba(97, 105, 255, 0.1);
  border-radius: 4px;
  color: #fff !important;
}

.page-content__wrap {
  @media (max-width: 768px) {
    overflow-x: scroll;
  }
}