.referrals-page {
    position: absolute;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #2e3140;
    min-height: 100%;
    width: calc(100% - 240px);
    right: 0px;
    top: 0px;
    z-index: 2;
    background-color: #fafafc;
    overflow: scroll !important;

    &__header {
        display: grid;
        grid-template-columns: 2fr 1fr;

        @media (max-width: 1426px) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &__inner {
        margin-right: 35px;

        @media (max-width: 1426px) {
            margin-right: 0;
            margin-bottom: 35px;
        }

        @media (max-width: 1440px) {
            margin-top: 30px;
        }
    }
}
